---
import "@/styles/globals.css";
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";

interface Project {
  title: string;
  description: string;
  image: string;
  repoUrl?: string;
  liveUrl?: string;
  tags: string[];
}

const projects: Project[] = [
  {
    title: "BudgetBonsai",
    description:
      "An Android expense tracker app built with Kotlin, designed to help users manage their finances. Integrated with AI model to provide financial health predicitons.",
    image: "/BudgetBonsai.jpg",
    repoUrl: "https://github.com/BudgetBonsai/BudgetBonsai-app",
    tags: ["Kotlin"],
  },
];
---

<Layout>
  <div class="space-y-2 mb-4">
    <h1 class="text-2xl font-bold text-zinc-400">Projects</h1>
    <p class="text-zinc-400">A collection of my work and experiments.</p>
  </div>

  <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
    {
      projects.length === 0 ? (
        <p class="text-zinc-400">No projects available yet.</p>
      ) : (
        projects.map((project) => (
          <ProjectCard
            title={project.title}
            description={project.description}
            image={project.image}
            repoUrl={project.repoUrl}
            liveUrl={project.liveUrl}
            tags={project.tags}
          />
        ))
      )
    }
  </div>
</Layout>
