---
interface Props {
  title: string;
  date: string;
  description: string;
  href: string;
}

const { title, date, description, href } = Astro.props;
---

<article class="max-w-2xl mb-4">
  <div class="space-y-2">
    <a href={href} class="block">
      <h2
        class="text-xl font-semibold text-zinc-400 hover:text-zinc-300 transition-colors duration-200"
      >
        {title}
      </h2>
    </a>

    <div class="flex items-center space-x-2 text-xs text-zinc-500">
      <time datetime={date}>{date}</time>
    </div>

    <p class="text-zinc-600 line-clamp-2">
      {description}
    </p>
  </div>
</article>
