---
interface Props {
  imageUrl: string;
  title: string;
  body: string;
  href: string;
}

const { href, imageUrl, title, body } = Astro.props;
---

<a href={href} class="block h-full">
  <div
    class="relative overflow-hidden rounded-xl bg-zinc-900 transition-all duration-300 group-hover:bg-zinc-800"
  >
    <div class="aspect-[16/9] overflow-hidden">
      <img
        src={imageUrl}
        alt={title}
        class="h-full w-full object-cover transition-transform duration-300 group-hover:scale-105"
      />
    </div>
    <div class="p-8">
      <h2
        class="text-2xl font-semibold text-zinc-100 transition-colors duration-300 group-hover:text-white"
      >
        {title}
      </h2>
      <p class="mt-4 text-base text-zinc-400 line-clamp-3">
        {body}
      </p>
      <div class="mt-6 flex items-center text-base text-zinc-400">
        <span class="group-hover:text-zinc-300 transition-colors duration-300"
          >View project</span
        >
        <svg
          class="ml-2 h-5 w-5 transform transition-transform duration-300 group-hover:translate-x-1"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 5l7 7-7 7"></path>
        </svg>
      </div>
    </div>
  </div>
</a>
